.photoContainer {
    background-color: #EDF0F5;
    display: flex;
    min-height: 80%;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 90%;
    margin: 0 auto;
  }

  .photo-item:hover {
    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.1s;
  }
  @media (min-width: 1100px) {
    .container {
      padding-left: 100px;
      padding-right: 100px;
      width: 1100px;
    }
  }
  