.dot {
    height: 100vw;
    width: 100vw;
    background-color: #2091E8;
    border-radius: 50%;
    display: inline-block;
    margin-top: -75%;
    position: absolute;
  }

#logo {
  position: relative;
  bottom: 33%;
  ;
}

.nav-wrapper {
  background-color: #2091E8;
  font-size: 40px;
  text-align: center;
  
}

.player {
  text-align: left;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2091E8;
  color: white;
  text-align: center;
  height: 10%;
}