.nav-wrapper {
  background-color: #2091E8;
  font-family: 'Lucida Sans Typewriter';
  font-size: 40px;
  text-align: center;
}

.logo {
  width: 100px;
  height: 100px;
  vertical-align:middle;
}

.tagline {
  font-size: 15px;
  text-align: right;
  vertical-align: middle;
}

.player {
  text-align: left;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  text-align: center;
  height: 10%;
}