.click-item {
    background-size: cover;
    background-position: center;
    height: 120px;
    width: 120px;
    margin: 8px 25px;
    border: 5px solid rgb(241, 241, 241);
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
  }
  
  .click-item:hover {
    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.1s;
  }
  
  .fade {
    opacity: 1;
  }
  

  
  @media (max-width: 750px) {
    .click-item {
      margin: 10px;
    }
  }
  
  @media (max-width: 500px) {
    .click-item {
      margin: 10px;
    }
  }
  